# Python compiled files
__pycache__/
*.py[cod]

# Environment variables
.env
.env.production
.env.test
.env.old
env/

# Log files
*.log

# CSV reports
shopify_sales_report_*.csv

# Virtual environment
env/.DS_Store

output/
shopify-reports/.DS_Store
.github/.DS_Store
preorders/NYT_preorder_tracking.csv
