# Python compiled files
__pycache__/
*.py[cod]

# Environment variables
.env
.env.production
.env.test
.env.old
env/

# Log files
*.log

# CSV reports
shopify_sales_report_*.csv

# Virtual environment
env/.DS_Store

shopify-reports/.DS_Store
.github/.DS_Store
preorders/NYT_preorder_tracking.csv
shopify-reports/
preorders/NYT_preorder_tracking.csv
inventory_check.py
clean_history.py
scripts/
fix_csv_dates.py
fix_csv_isbns.py
fix_manual_order_ids.py